:root {
  --bookmark-card-w: 160px;
  --title-lines: 3;
}

.card {
  position: relative;
  box-sizing: border-box;
  width: var(--bookmark-card-w);
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 0.75rem;
  text-align: center;
  background-color: #f8f8f8;
}

.heartIcon {
  position: absolute;
  top: 6px;
  right: 8px;
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 5 / 7;
  border-radius: 8px;
  overflow: hidden;
}

.thumbnail .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imagePlaceholder {
  font-size: 2rem;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.performanceName {
  margin-top: 8px;
  font-size: 0.95rem;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--title-lines);
  overflow: hidden;

  max-height: calc(var(--title-lines) * 1.4em);

  word-break: keep-all;
}

.removeBtn {
  margin-top: 0.3rem;
  font-size: 0.75rem;
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
}