.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.searchBar {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.searchBar > div {
    width: 100%; /* 삐약! 검색바의 너비를 적당하게 조절합니다! */
}

.buttons{
    gap: 1rem;
    display: flex;
}

.table td, .table th {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.table td.fid {
  max-width: 80px;
}

.table td.actions {
  max-width: 200px;
  width: 200px; /* 삐약! 🐥 액션 버튼은 크기를 고정해요. */
}