.sidebar {
  padding: 1rem;
  width: 200px;
  background-color: #f9f9f9;
  flex-shrink: 0;
}

.parent {
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.child {
  margin-left: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 0.95rem;
}

.active {
  background-color: #f0f0f0;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
}
