.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;         
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.sidebarSlot {
  flex: 0 0 240px;   
  min-width: 240px;
}

.content {
  min-width: 700px;         
  background: #fff;
  margin-left: 150px;
  margin-right: 100px;
  padding-top: 20px;
}
